/*RIHAB*/
.barre{
  margin-right: 12px;
  font-weight: 40px;
  color: black;
  font-size: 20px;
}
.top{
  margin-left: 40px;
  margin-top: 70px;

}
.barre:hover{
  background-color: #DA70D6;
  border-radius: 5px;
  height: 10px;

}
.image{
  margin-left: 320px;
  width: 70px;
  margin-top: 15px;
  border:3px ;
  align: left;
  height: 90px;
  background-image: url("logo.jpg")
}
body{
  background-image: url("images/maquillage.jpg");
  padding-top: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 800px 1100px;
}
.bouttons{
  margin-left:50px;
  margin-top: 150px;
  font-size:10px;
  font-style: oblique;
  font-weight: bold;


}
.style{
  border: solid #E93A67 3px;
  width:250px;
  height: 45px;
  margin-bottom: 25px;
  font-weight: bold;
  color: black;

}

.deux_image{
  margin-top: 140px;
  margin-left: 150px;
}
.image{
  margin-bottom:7px;
  width:100px;
  height:70px;
  border: solid #E93A67;
}
.style_sel_all
{
  margin-left:50px;
  margin-top: 170px;
  font-size:10px;
  font-style: oblique;
}
.style-sel{
  margin-bottom: 45px;
  font-weight: bold;
  color: blue;
  font-style: oblique;
  color: white;
  background-color:#2980B9 		;
  border: solid #2980B9 ;
  border-radius: 5px;
}
.style-sel:hover{
  background-color: #F4D03F;
}
.réseaux_sociaux{
  margin-left: 500px;
}
.réseau{
  width:30px;
  height: 30px;
}
.foot{
  margin-top: 100px;
}
.adresse{
  margin-left: 300px;
  font-size: 10px;
}
a[href^="mailto"]::before {
    content: "📧 ";
}

a[href^="tel"]::before {
    content: "📞 ";
}
.tab2{
  margin-left: 5px;
}
