/*RIHAB*/
.top{
  margin-left: 40px;
  margin-top: 70px;

}
.barre{
  margin-right: 12px;
  font-weight: 40px;
  color: black;
  font-size: 20px;
}
.barre:hover{
  background-color: #DA70D6;
  border-radius: 5px;
  height: 10px;

}
.image{
  margin-left: 320px;
  width: 70px;
  margin-top: 15px;
  border:3px ;
  align: left;
  height: 90px;
  background-image: url("logo.jpg")
}
body{
  background-image: url("images/soinv.jpeg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: 800px 1100px;
}
.style{
  font-style: oblique;
  color: #DAA520;
  margin-bottom: 25px;
  margin-left: 50px;
  background-color: white;
  width: 180px;
  height: 50px;
  text-align: center ;
  font-size:  15px;

}
.bouttons{
  margin-top: 200px;
  margin-bottom: 25px;
  margin-left: 322px;
}
.style-sel1{
  font-style: oblique;
  color: white;
  margin-left: 50px;
  margin-bottom: 30px;
  width: 180px;
  height: 30px;
  text-align: center ;
  font-size: 15px;
  background-color: #A9A9A9;
}
.style-sel2{
  font-style: oblique;
  color: white;


  margin-left: 50px;
  margin-top: 12px;
  width: 180px;
  height: 30px;
  text-align: center ;
  font-size: 15px;
  background-color: #A9A9A9;
}
.style_sel_all{
  margin-top: 150px;
}
.style_sel:hover{
  background-color: #FFD700;
}
.réseaux_sociaux{
  margin-left: 500px;
}
.réseau{
  width:30px;
  height: 25px;
}
.foot{
  margin-top: 100px;

}
.adresse{
  margin-left: 300px;
  font-size: 10px;
}
a[href^="mailto"]::before {
    content: "📧 ";
}

a[href^="tel"]::before {
    content: "📞 ";
}
